Flask
requests
requests-oauthlib
pg8000
python-dotenv
aiohttp
flask[async]
openai
flask-cors
asyncio
gunicorn
fpdf
supabase
python-magic
httpx
resend
google-api-python-client 
google-auth
pytz
langdetect